<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212650628589-l5d4rje03kvql773m90naophvuerjhec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212650628589-l5d4rje03kvql773m90naophvuerjhec</string>
	<key>API_KEY</key>
	<string>AIzaSyCo9m1DPGBvdPdTyEZaIjji5ihOrOeibkw</string>
	<key>GCM_SENDER_ID</key>
	<string>212650628589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.musicApp</string>
	<key>PROJECT_ID</key>
	<string>music-app-d886c</string>
	<key>STORAGE_BUCKET</key>
	<string>music-app-d886c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212650628589:ios:9e978eba6866fe18ac43e4</string>
</dict>
</plist>